<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="dbServer" value="TOUCH-ME-2014\SQLEXPRESS"/>
    <add key="dbName" value="GA_Gideon_Conv2016"/>
    <add key="ImagePath" value="C:\Gideons\Images\"/>
    <add key="BadgeOffsetLeft" value="15"/>
    <add key="BadgeOffsetTop" value="85"/>
  </appSettings>
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>